<html>
    <head>
    </head>
    <body>
        <div>
            <a href="/">/</a>
        </div>
        <div>
            <a href="/trigger">trigger</a>
        </div>
        <div>
            <a href="/config">config</a>
        </div>
        <div>
            <a href="/module">module</a>
        </div>
    </body>
</html>
